In [35]:
import pandas as pd

data = pd.read_csv("2010-capitalbikeshare-tripdata.csv")
#data.head()
data = data.drop('End date',axis=1)
data = data.drop('Start date',axis=1)
data = data.drop('Start station',axis=1)
data = data.drop('End station',axis=1)

In [36]:
data.head()

   Duration  Start station number  End station number Bike number Member type
0      1012                 31208               31108      W00742      Member
1        61                 31209               31209      W00032      Member
2      2690                 31600               31100      W00993      Member
3      1406                 31600               31602      W00344      Member
4      1413                 31100               31201      W00883      Member

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 5 columns):
Duration                115597 non-null int64
Start station number    115597 non-null int64
End station number      115597 non-null int64
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(2)
memory usage: 4.4+ MB

In [47]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(data["Member type"])

data["Member type"]=le.transform(data["Member type"])

data.head()

   Duration  Start station number  End station number Bike number  Member type
0      1012                 31208               31108      W00742            1
1        61                 31209               31209      W00032            1
2      2690                 31600               31100      W00993            1
3      1406                 31600               31602      W00344            1
4      1413                 31100               31201      W00883            1

In [51]:
le = LabelEncoder()
le.fit(data["Bike number"])

data["Bike number"]=le.transform(data["Bike number"])

data.head()

,Duration,Start station number,End station number,Bike number,Member type
0,1012,31208,31108,614,1
1,61,31209,31209,41,1
2,2690,31600,31100,836,1
3,1406,31600,31602,282,1
4,1413,31100,31201,734,1

In [53]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(data.loc[:,"Duration":"Bike number"],data.loc[:,"Member type"],test_size=0.2,random_state=45)

In [58]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(X_train,Y_train)

labels = nb.predict(X_test)

nb.score(X_test,Y_test)

0.8391868512110726